@charset "UTF-8";
/* Sitewide Variables */
/* CSS by Alex Paxton (sparkwave.io) */

@modalOverlay:	rgba(255,255,255,0.75);
*:focus {
    outline: none;
}

/* Brand Colors */

@sq-red:		#ec5444;
@sq-grey:		#808080;
@sq-grey2:		#989897;
@sq-grey3:		#1a1a1a;

/* Links */
a:link, a:active, a:visited {
	font-weight: 500;
	color:@sq-red;
	.trans(color);
}
a:hover {color:#ff0054;text-decoration: none;}

/* Fonts */
.cour {
	font-family: 'Courier New',Courier, sans-serif;
}
.helv {
	font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, Tahoma, Verdana, sans-serif;
}
/* Layers */
@z-nav: 666;
@z-overlay: 1000;
@z-toplayer: 1001;
@z-logo: 9999;
