// Styles for Sparkwave.io
// LESS by Alex Paxton (sparkwave.io)

// Include Toolkit
@import "toolkit.less";
@import "squiiidstyle.less";
@import "jqueryui.less";

// Reset
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
p, h1, h2, h3, h4, ul, li, span, input {
	font-weight: 300;
}

// Core
body, html {
	background-color:@white;
	.helv;
	color:@grey6;
}
body {z-index:1;}
.squiiid,
.dashboard,
.layer {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}
.dashboard {position: absolute;overflow:auto;}
.squiiid {
	position:absolute;
	background-image:url(/static/assets/images/bg-home.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 66%;
}
.layer {position: fixed;overflow:auto;}
.layer-slide {
	width:100%;
	height:100%;
	float:left;
	text-align: center;
	background-color: rgba(255,255,255,0.82);
	overflow: hidden;
}

// Home Page
#intro {z-index: 4;}
#login {z-index: 8;display: none;opacity:0;}
#requestinvite {z-index: 8;display: none;opacity:0;}
#inviteconfirm {z-index: 8;display: none;opacity:0;}
.squid-button {
	width:80px;
	height:60px;
	float:left;
	position: relative;
	left:50%;
	top:70%;
	margin:0px 0px 0px -40px;
	.trans(opacity);
	img {
		width:100%;
		height:auto;
	}
	cursor: pointer;
	.trans(opacity);
}
.squid-button:hover {opacity: 0.7;}

#slide-1 {
	p {
		float:left;
		height:auto;
		width:50%;
		text-align:center;
		position: relative;
		top:66%;
		margin:0px 25% 0px 25%;
		.cour;
		font-size:20px;
	}
}
#slide-2 {background-color: #0054ff;}
#slide-3 {background-color: #2299cc;}
#slide-4 {background-color: #3300aa;}
#slide-5 {background-color: #918290;}
#slide-6 {background-color: #f998a1;}
#slide-7 {background-color: #ff0054;}
#slide-login {background-color: @white;}
#slide-invite {background-color: @sq-grey3;}
#slide-invite-confirm {background-color: @sq-grey3;}

// Login / Logout
.button-login {
	width:50px;
	height:50px;
	position: fixed;
	top:50px;
	right:50px;
	z-index:999;
	background-image: url(/static/assets/images/icon-sun-red.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size:100%;
	cursor: pointer;
	opacity:1;
}
.button-login:hover{opacity: 0.7 !important;}
.invitehidden {
	display: none;
}
.button-back {
	position: fixed;
	top:50px;
	left:50px;
	width:40px;
	height:40px;
	background-color: #00ff00;
	color:#000;
	z-index:999;
	display: none;
	opacity:0;
}
.login-form {
	position: absolute;
	width:30%;
	height:40%;
	float:left;
	top:30%;
	left:35%;
	.login-submit,
	input[type="text"],
	input[type="password"] {
		width:100%;
		height:70px;
		border:0px;
		border-radius: 0px;
		-o-border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		background-color:@white;
		text-align:right;
		font-size:40px;
	}
	.login-submit {
		color:@sq-red;
		.helv;
		font-weight:300;
		cursor: pointer;
		.trans(opacity);
	}
	.login-submit:hover {opacity:0.7;}
	input[type="text"],
	input[type="password"] {
		color:@sq-grey2;
		font-weight:100;
		.helv;
	}
}


/* DASHBOARD STYLES */
/* Squiiid Logo */
.dash-logo {
	width:66px;
	height:66px;
	position: fixed;
	top:50px;
	left:45px;
	z-index: @z-logo;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(/static/assets/images/logo-ltgrey.svg);
	.trans(opacity);
}
.dash-logo:hover {
	cursor: pointer;
	opacity: 0.7;
}
/* White ovarlay for layering */
#omgwhiteeverywhere {
	width:100%;
	height:100%;
	z-index: @z-overlay;
	position: fixed;
	top:0px;
	left:0px;
	background-color: rgba(255,255,255,0.95);
	opacity: 0;
	display: none;
}
/* Layers */
.layer {
	width:100%;
	height:100%;
	position: fixed;
	top:0px;
	left:0px;
	overflow: auto;
	z-index: @z-toplayer;
}
/* Nav Menu */
nav {
	width:110px;
	height:110px;
	position: fixed;
	top:40px;
	right:40px;
	z-index: @z-nav;
}
.nav-item {
	width:55px;
	height:55px;
	float:left;
	cursor: pointer;
	background-color: rgba(255,255,255,0.3);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	.trans(background-color);
}
.nav-item:hover {
	background-color: @sq-red;
}
#nav-upload {background-image: url(/static/assets/images/nav-upload-off.svg);}
#nav-settings {background-image: url(/static/assets/images/nav-settings-off.svg);}
#nav-search {background-image: url(/static/assets/images/nav-search-off.svg);}
#nav-logout {background-image: url(/static/assets/images/nav-logout-off.svg);}

/* Photos and stuff */
.my-photos {
	width:100%;
	height:auto;
	float:left;
}
@slideheight: 860px;
.photo-holder {
	width:100%;
	/*height:@slideheight;*/
	height:auto;
	float:left;
}
@slidemargin: 200px;
.photo-box {
	width:40%;
	float:left;
	height:auto;
	margin-left:30%;
	margin-right:30%;
	z-index:6;
	/*height:@slideheight - @slidemargin;*/
	margin-top:@slidemargin/2;
	margin-bottom:@slidemargin/2;
	/*background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;*/
	.a-photo {
		width:100%;
		height:auto;
		border:0px;
		float:left;
		z-index:5;
		position: relative;
	}
}
.photo-hover-box {
	float:left;
	width:100%;
	background-color: rgba(236,84,68,0.7);
	position: relative;
	z-index:9;
	opacity:0;
	.trans(opacity);
	overflow: hidden;
}
.photo-box:hover .photo-hover-box{opacity: 1;}
.photo-hover-text {
	width:80%;
	height:60px;
	float:left;
	position: relative;
	top:50%;
	margin:-30px 10% 0px 10%;
	.cour;
	font-size:16px;
	text-align: center;
	font-weight: 700;
	b {
		font-weight: inherit;
		color:@white;
	}
	i {
		font-style:normal;
		font-weight: 100;
		color:@black;
	}
	a:link, a:active, a:visited {
		text-decoration: none;
		color:@black;
		font-weight: inherit;
	}
	a:hover {
		border-bottom:1px dashed @white;
	}
}
/*------------------------------------------*/
/*				0. First Time User			*/
/*------------------------------------------*/
.firsttimeuser {
	width:440px;
	height:90px;
	position: absolute;
	top:50%;
	left:50%;
	margin:-45px 0px 0px -220px;
	p {
		width:100%;
		text-align: center;
		.cour;
		font-weight:400;
		font-size:18px;
		letter-spacing: -0.1em;
	}
}
#firsttime-x {
	width:20%;
	height:auto;
	float:left;
	margin:30px 40% 0px 40%;
	cursor: pointer;
	.trans(opacity);
}
#firsttime-x:hover {opacity: 0.6;}
/*------------------------------------------*/
/*				1. Photo Sharing			*/
/*------------------------------------------*/
#photosharing {
	opacity: 0;
	display: none;
}
.photo-share {
	width:200px;
	height:160px;
	position: absolute;
	top:50%;
	left:50%;
	text-align: center;
	font-size:18px;
	font-weight:300;
	.cour;
	margin:-80px 0px 0px -100px;
	a:link, a:active, a:visited {
		width:100%;
		height:24px;
		float:left;
		text-decoration: none;
		color:@black;
		cursor: pointer;
	}
	a.share-tumblr:hover {color:#61cfc5;}
	a.share-wp:hover {color:#ff3b67;}
	a.share-blogger:hover {color:#fada15;}
	a.share-embed:hover {color:#f04925;cursor: pointer;}
	#photo-share-x {
		width:50%;
		height:auto;
		cursor: pointer;
		border:0px;
		float:left;
		margin:20px 25% 0px 25%;
		.trans(opacity);
	}
	#photo-share-x:hover {
		opacity: 0.666;
	}
}
.share-embed-box {
	opacity: 0;
	display: none;
	background-color: @white;
	width:100%;
	height:220px;
	position: relative;
	top:-180px;
	float:left;
	padding:20px;
	overflow: hidden;
	p {
		float:left;
		margin-bottom: 15px;
		font-weight: 600;
	}
	textarea {
		width:100%;
		height:80px;
		max-width:100%;
		max-height:80px;
		min-width:100%;
		min-height:80px;
		background-color: @sq-red;
		color:@white;
		border:0px;
		float:left !important;
		.roundNone;
		.cour;
	}
}
#share-embed-x {
	width:60%;
	margin:20px 15% 0px 15%;
	cursor: pointer;
	opacity: 0.7;
	.trans(opacity);
}
#share-embed-x:hover {opacity: 1;}
/*------------------------------------------*/
/*				2. Settings					*/
/*------------------------------------------*/
#settings {
	opacity: 0;
	display: none;
}
.settings-box {
	width:500px;
	height:358px;
	position: absolute;
	top:50%;
	left:50%;
	margin:-179px 0px 0px -250px;
	p {
		width:50%;
		height:40px;
		float:left;
		.cour;
		letter-spacing: -0.1em;
		input {
			border:0px;
			height:36px;
			background-color: @white;
			border-bottom:1px solid #f6f6f6;
			.cour;
			font-weight: 400;
			font-size:14px;
			.roundNone;
			float:left;
		}
		.settings-full {width:100%;}
		.settings-half {width:49%;margin-right:2%;}
		.settings-half:last-child {margin-right: 0px;}
	}
}
.settings-label,
.settings-label-light {
	text-align: right;
	font-size:18px;
	color:@sq-grey;
	padding-right:10px;
	.trans(color);
}
.settings-label-light {
	color:@sq-grey2;
}
.settings-save {
	width:20%;
	height:auto;
	border:0px;
	.roundNone;
	background-color: transparent !important;
	img {
		width:100%;
		height:auto;
		border:0;
		float:left;
	}
	margin:30px 40% 0px 40%;
	cursor: pointer;
	.trans(opacity);
}
.settings-save:hover {
	opacity: 0.6;
}
.settings-checkbox {
	width:36px;
	height:36px;
	float:left;
	background-color: @white;
	cursor: pointer;
	.trans(background-color);
}
.settings-checkbox[rel="1"] {
	background-color: @sq-red;
	background-image: url(/static/assets/images/settings-check.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%
}

/*------------------------------------------*/
/*				3. Search					*/
/*------------------------------------------*/
#search {
	opacity: 0;
	display: none;
}
.search-box {
	width:250px;
	height:250px;
	position: absolute;
	top:50%;
	left:50%;
	margin:-125px 0px 0px -125px;
	.round50;
	background-color: @sq-red;
	color:@white;
	text-align: center;
	.helv;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 50px;
	padding-top: 78px;
	.boxSizing;
}
/*------------------------------------------*/
/*				4. Uploader					*/
/*------------------------------------------*/
#uploader {
	display: none;
	opacity: 0;
}
@uploaderwidth: 700px;
.uploader {
	z-index:@z-toplayer;
	position: absolute;
	top:40px;
	left:50%;
	width:@uploaderwidth;
	height:auto;
	margin-left:(@uploaderwidth / -2);
}
.dropzone div {float:left;}
.dz-default span {
	width:@uploaderwidth;
	height:450px;
	margin-bottom:30px;
	float:left;
	display: block;
	background-color: @white;
	.cour;
	text-decoration: underline;
	text-align: center;
	.boxSizing;
	padding-top:220px;
	cursor: pointer;
	border:1px dashed @sq-grey2;
}
.dz-preview,
.dz-details {
	width:100%;
	min-height:50px;
	margin-bottom:30px;
	img {
		width:100%;
		height:auto;
		float:left;
		margin-top:-38px;
	}
}
.dz-filename,
.dz-size {
	width:48%;
	height:38px;
	padding:10px 9px 0px 9px;
	border:0px;
	.roundNone;
	font-size:14px;
	.cour;
	.boxSizing;
	background-color: rgba(255,255,255,0.88);
	color:@black;
	font-weight: 400;
	margin-bottom:0px;
	top:20px;
	position: relative;
	z-index: @z-toplayer;
	opacity: 0.2;
	.trans(opacity);
}
.dz-details:hover .dz-filename,
.dz-details:hover .dz-size {opacity: 1;}
.dz-filename {margin-left:2%;}
.dz-size {margin-right:2%;text-align: right;}

.dz-progress,
.dz-success-mark,
.dz-error-mark {display: none;}
.upload-details {
	width:@uploaderwidth;
	float:left;
	height:auto;
	border-bottom:40px solid transparent;
}
@sectionwidth: 54px;
@sectionopenwidth: 480px;
.upload-section {
	height:256px;
	float:left;
	border-right:1px solid #e6e6e6;
	.trans(width);
}
.upload-section:last-child {
	border-right:0px;
}
.upload-details div[rel="open"] {width:@sectionopenwidth;}
.upload-details div[rel="closed"] {width:@sectionwidth;}
.upload-section-icon {
	width:@sectionwidth;
	height:24px;
	float:left;
	background-size: 100% 100%;
	background-position: top left;
	background-repeat: no-repeat;
	cursor: pointer;
	.trans(opacity);
	margin-bottom:9px;
}
.upload-section-icon:hover {opacity: 0.7;}

#upload-tags {background-image: url(/static/assets/images/uploader-tags.svg);}
#upload-contributors {background-image: url(/static/assets/images/uploader-contributors.svg);}
#upload-geo {background-image: url(/static/assets/images/uploader-geo.svg);}
#upload-camera {background-image: url(/static/assets/images/uploader-camera.svg);}
#upload-products {background-image: url(/static/assets/images/uploader-hanger.svg);}

.upload-content {
	width:100%;
	height:auto;
	overflow:hidden;
	.boxSizing;
	padding-right: 10px;
	padding-left: 10px;
	.trans(opacity);
	label {
		font-size:14px;
		.cour;
		font-weight: 400;
		float:left;
		margin-top:10px;
		margin-left:10px;
	}
	input {
		float:left;
		height:40px;
		padding:0px 9px 0px 9px;
		border:0px;
		.roundNone;
		font-size:14px;
		.cour;
		.boxSizing;
		background-color: @white;
		color:@black;
		font-weight: 400;
		margin-bottom:2px;
	}
}
.upload-section:first-child .upload-content {padding-left:0px;}
.upload-details div[rel="open"] .upload-content {opacity:1;}
.upload-details div[rel="closed"] .upload-content {opacity:0;}

.upload-content-divider {
	width:42%;
	height:2px;
	background-color: @black;
	margin-bottom:4px;
}
.upload-full {
	width:100%;
}
.upload-half {
	width:49.5%;
	margin-right:0.5%;
}
.upload-half:nth-child(2n+1) {
	margin-right:0px;
}
.upload-third {
	width:33%;
	margin-right:0.5%;
}
.upload-third:nth-child(3n+1) {
	margin-right:0px;
}
.upload-checkbox {
	margin-left:8px;
}
.upload-button {
	border:0px;
	.roundNone;
	background-color: transparent;
	.cour;
	cursor: pointer;
	color:@sq-red;
	font-size:18px;
	font-weight: 400;
	margin-bottom: 20px;
	text-align: right;
	float:right;
}
.upload-image-edit {
	width:100%;
	float:left;
	margin-bottom:30px;
	img {
		width:100%;
		height:auto;
		float:left;
		border:0px;
	}
}
.edit-bottom {
	width:100%;
	border-top: 1px solid #e6e6e6;
	padding-top:30px;
	float:left;
}
.edit-delete {
	border:0px;
	.roundNone;
	background-color: transparent;
	.cour;
	float:left;
	.trans(color);
	cursor: pointer;
}
.edit-delete:hover {color:@sq-red;}

/*------------------------------------------*/
/*				5. Errors					*/
/*------------------------------------------*/

.error {
	width:100%;
	height:100%;
	z-index:@z-error;
	position: fixed;
	top:0;
	left:0;
	background-color: rgba(255,255,255,0.94);
	display: none;
	opacity: 0;
	text-align: center;
	p {
		display: block;
		position: relative;
		top:50%;
		margin-top:-50px;
		.cour;
		font-size: 14px;
		img {
			width:90px;
			margin-top: 30px;
		}
	}
	#error-x {
		opacity: 0.7;
		.trans(opacity);
		cursor: pointer;
		display: inline;
	}
	#error-x:hover {opacity: 1;}
}

/*------------------------------------------*/
/*				6. Signup Page				*/
/*------------------------------------------*/

@loginWidth: 400px;
.wilkommen-aus-squiiidlandia {
	width:@loginWidth;
	height:100%;
	min-height:640px;
	background-color: transparent;
	position: absolute;
	top:0px;
	left:50%;
	margin:0px 0px 0px @loginWidth/(-2);
	h1 {
		text-align: center;
		font-size:30px;
		margin-bottom:15px;
		width:100%;
		height:auto;
		float:left;
	}
	p {
		width:60%;
		float:left;
		height:auto;
		margin:0px 20% 20px 20%;
		.cour;
		text-align: justify;
	}
	input[type="text"],
	input[type="password"] {
		float:left;
		width:60%;
		margin:0px 20% 5px 20%;
		height:60px;
		.roundNone;
		background-color: #f2f2f2;
		.boxSizing;
		border:0px;
		padding:0px 15px 0px 15px;
		.helv;
		font-weight:100;
		font-size:20px;
	}
	input[type="submit"] {
		float:left;
		width:60%;
		margin:0px 20% 5px 20%;
		height:60px;
		.roundNone;
		background-color: @white;
		.trans(color);
		.boxSizing;
		border:0px;
		.helv;
		font-weight:100;
		font-size:20px;
		cursor: pointer;
	}
	input[type="submit"]:hover {color:@sq-red;}
}
.signup-logo {
	width:36%;
	height:auto;
	float:left;
	margin:20px 32% 30px 32%;
}

/*------------------------------------------*/
/*				7. Legal					*/
/*------------------------------------------*/
.legalpage {
	width:500px;
	height:auto;
	position: absolute;
	top:60px;
	left:50%;
	margin:0px 0px 0px -250px;
	h1, h2, p {
		width:100%;
		height:auto;
		float:left;
	}
	h1 {
		font-size:40px;
		font-weight: 100;
		.helv;
		color:@sq-red;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #333;
	}
	h2 {
		font-size:16px;
		color:#333;
		margin-bottom: 30px;
	}
	p {
		font-size:14px;
		line-height: 16px;
		.cour;
		font-weight: 100;
		color:#333;
		margin-bottom: 15px;
	}
	b {color:@sq-red;}
}

/* Media Queries 

@media only screen 
and (max-width : 1000px)  {
	@import "screen-a.less";
}

@media only screen 
and (max-width : 845px)  {
	@import "screen-b.less";
}

@media only screen 
and (max-width : 660px)  {
	@import "screen-c.less";
}

@media only screen 
and (max-width : 430px)  {
	@import "screen-d.less";
}

@media only screen 
and (min-width : 1200px) {
}

*/