*.py[cod]

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log

.project
.pydevproject
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

squiiid_com/media/images/_MG_3589-w.jpg

*.jpeg
