<!DOCTYPE html>
<html>
<meta name="description" content="Dashboard">
<meta name="keywords" content="">
<meta name="author" content="Squiiid">
<head>
	<title>Dashboard | Squiiid</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- CSS -->
	<link href='/static/css/squiiid.css' rel='stylesheet' type='text/css'>
	<!-- Icons -->
	<link rel="icon" href="/static/assets/images/favicon.ico" />
	<link rel="apple-touch-icon-precomposed" media="(resolution: 326dpi)" href="/static/assets/images/apple-touch-icon-114.png">
	<link rel="apple-touch-icon-precomposed" media="(resolution: 163dpi)" href="/static/assets/images/apple-touch-icon-57.png">
	<link rel="apple-touch-icon-precomposed" media="(resolution: 132dpi)" href="/static/assets/images/apple-touch-icon-72.png">
</head>
<body id="body">
	<!-- Dashboard Elements -->
	<div class="dashboard">
		<!-- Logo -->
		<div class="dash-logo" id="squiiid-logo"></div>
		<!-- Navigation -->
		<nav>
			<div class="nav-item" id="nav-upload"></div>
			<div class="nav-item" id="nav-settings"></div>
			<div class="nav-item" id="nav-search"></div>
			<div class="nav-item" id="nav-logout"></div>
		</nav>
		<!-- Layer 0: First Time User -->
		<!--	This DIV is by default display:none and opacity:0;
				If this is the user's first time, show this div as display:block and opacity:0 on pageload
				In the same condition, show #omgwhiteeverywhere as display:block and opacity:0 on pageload
				When the user clicks the cloud button, fade out this layer and fade in the uploader layer,
				#omgwhiteeverywhere should remain visible during this time. When the user clicks the squiiid logo
				it will auto fade out everything.

		<div class="layer" id="firsttimeuser">
			<div class="firsttimeuser">
				<p>Hiii. First step is to upload your photos</p>
				<img id="firsttime-x" src="/static/assets/images/icon-cloud-red.svg" />
			</div>
		</div>
		-->
		<!-- Layer 1: Uploader -->
		<div class="layer" id="uploader">
			
			<div class="uploader">
				<form method="POST" enctype="multipart/form-data" action="/upload/">
					{% csrf_token %}
					<input onclick="dropzone.processQueue();return false;" type="submit" value="iii'm done" class="upload-button"/>
					<div class="upload-widget">
						<div id="dropzone" class="dropzone"></div>
						<div class="dropzone-previews" id="dropzone-previews"></div>	
					</div>
					<div class="upload-details">
						<!-- Tags -->
						<div class="upload-section" id="section-tags" rel="open">
							<div class="upload-section-icon" id="upload-tags"></div>
							<div class="upload-content">
								<div class="upload-content-divider"></div>
								<input id="title" class="upload-full" name="title" placeholder="Title or brief description..." />
								<input id="tags" class="upload-full" name="tags" placeholder="separate tags by commas..." />
							</div>
						</div>
						<!-- Contributors -->
						<div class="upload-section" id="section-contributors" rel="closed">
							<div class="upload-section-icon" id="upload-contributors"></div>
							<div class="upload-content">
								<div class="upload-content-divider"></div>
								<input id="contributor_type_1" name="contributor_type_1" placeholder="type" class="upload-half" />
								<input id="contributor_name_1" name="contributor_name_1" placeholder="name" class="upload-half" />
								<input id="contributor_type_2" name="contributor_type_2" placeholder="type" class="upload-half" />
								<input id="contributor_name_2" name="contributor_name_2" placeholder="name" class="upload-half" />
								<input id="contributor_type_3" name="contributor_type_3" placeholder="type" class="upload-half" />
								<input id="contributor_name_3" name="contributor_name_3" placeholder="name" class="upload-half" />
								<input id="contributor_type_4" name="contributor_type_4" placeholder="type" class="upload-half" />
								<input id="contributor_name_4" name="contributor_name_4" placeholder="name" class="upload-half" />
								<input id="contributor_type_5" name="contributor_type_5" placeholder="type" class="upload-half" />
								<input id="contributor_name_5" name="contributor_name_5" placeholder="name" class="upload-half" />
							</div>
						</div>
						<!-- Geo -->
						<div class="upload-section" id="section-geo" rel="closed">
							<div class="upload-section-icon" id="upload-geo"></div>
							<div class="upload-content">
								<div class="upload-content-divider"></div>
								<input id="street_address_1" name="street_address_1" placeholder="street_address_1" class="upload-half" />
								<input id="street_address_2" name="street_address_2" placeholder="street_address_2" class="upload-half" />
								<input id="city" name="city" placeholder="city" class="upload-half" />
								<input id="state" name="state" placeholder="state" class="upload-half" />
								<input id="zip_code" name="zip_code" placeholder="zip_code" class="upload-half" />
								<input id="place" name="place" placeholder="place (arts district, etc.)" class="upload-half" />
							</div>
						</div>
						<!-- Camera -->
						<div class="upload-section" id="section-camera" rel="closed">
							<div class="upload-section-icon" id="upload-camera"></div>
							<div class="upload-content">
								<div class="upload-content-divider"></div>
								<input id="tool" name="tool" placeholder="tool" class="upload-half" />
								<input id="iso" name="iso" placeholder="iso" class="upload-half" />
								<input id="aperture" name="aperture" placeholder="aperture" class="upload-half" />
								<input id="exposure" name="exposure" placeholder="exposure" class="upload-half" />
								<input id="focal_length" name="focal_length" placeholder="focal_length" class="upload-half" />
								<input id="private" name="private" type="checkbox" class="upload-checkbox" /><label>private</label>
							</div>
						</div>
						<!-- Products -->
						<div class="upload-section" id="section-products" rel="closed">
							<div class="upload-section-icon" id="upload-products"></div>
							<div class="upload-content">
								<div class="upload-content-divider"></div>
								<input id="brand_1" class="upload-third" name="brand_1" placeholder="brand" />
								<input id="product_1" class="upload-third" name="product_1" placeholder="product" />
								<input id="product_url_1" class="upload-third" name="product_url_1" placeholder="url" title="Please reference URL where product can be purchased" />
								<input id="brand_2" class="upload-third" name="brand_2" placeholder="brand" />
								<input id="product_2" class="upload-third" name="product_2" placeholder="product" />
								<input id="product_url_2" class="upload-third" name="product_url_2" placeholder="url" title="Please reference URL where product can be purchased" />
								<input id="brand_3" class="upload-third" name="brand_3" placeholder="brand" />
								<input id="product_3" class="upload-third" name="product_3" placeholder="product" />
								<input id="product_url_3" class="upload-third" name="product_url_3" placeholder="url" title="Please reference URL where product can be purchased" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- Layer 2: Photo Sharing -->
		<div class="layer" id="photosharing">
			<div class="photo-share">
				<a class="share-tumblr" href="#">tumblr</a>
				<a class="share-wp" href="#">wordpress</a>
				<a class="share-blogger" href="#">blogger</a>
				<a class="share-embed" href="#">&#60;&#47;&#62;</a>
				<img id="photo-share-x" src="/static/assets/images/icon-x-red.svg" />
			</div>
		</div>
		<!-- Layer 3: Search -->
		<div class="layer" id="search">
			<div class="search-box">Coming soon.
			</div>
		</div>
		<!-- Layer 4: Settings -->
		<div class="layer" id="settings">
			<div class="settings-box" id="settings-box">
				<form method="POST" action="/dashboard/settings/">
					<p class="settings-label">first //</p>
					<p><input name="first_name" type="text" class="settings-full" placeholder="first name" value="{{request.user.first_name}}"/></p>
					<p class="settings-label">last //</p>
					<p><input name="last_name" type="text" class="settings-full" placeholder="last name" value="{{request.user.last_name}}" /></p>
					<p class="settings-label">email //</p>
					<p><input type="text" class="settings-full" placeholder="email address" value="{{request.user.email}}" disabled="disabled" /></p>
					<!--
					<p class="settings-label">*username //</p>
					<p><input type="text" class="settings-full" placeholder="username" value="iggy"/></p>
					-->
					<p class="settings-label">blog or website //</p>
					<p><input name="website" type="text" class="settings-full" placeholder="blog or website" value="{{request.user.get_profile.website}}" /></p>

					<p class="settings-label-light">password //</p>
					<p>
						<input type="password" class="settings-half" placeholder="password" disabled="disabled" />
						<!--<input type="password" class="settings-half" placeholder="confirm" />-->
					</p>
					<button id="settings-save" class="settings-save"><img src="/static/assets/images/icon-popsicle-red.svg" /></button>
				</form>
			</div><!-- /settings-box -->

		</div><!-- / Layer 4: Settings -->
		<!-- Overlay -->
		<div id="omgwhiteeverywhere"></div>
		<!-- My Photos -->
		<div class="my-photos" id="my-photos">
			{% for image in images %}
			<div class="photo-holder">
				<div class="photo-box">
					<div class="photo-hover-box">
						<p class="photo-hover-text">
						<b>{{image.likes}} Likes</b> <i>x</i> <b>{{image.clicks}} Clicks</b> <i>x</i> <b>{{image.hovers}} Hovers</b> <i>x</i> <b>{{image.reblogs}} Reblogs</b><br><a href="#" class="photo-share-link">Share</a> <i>/</i> <a href="/edit/{{image.id}}/" class="photo-edit-link">Edit</a>
						</p>
					</div>
					<img class="a-photo" src="/media/{{image.image}}" />
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
	<script src="/static/js/dropzone.js"></script>
	<script type="text/javascript">
		Dropzone.autoDiscover = false;
		var dropzone = new Dropzone("div#dropzone", { url: '/upload/',
				enqueueForUpload: true,
				autoProcessQueue: false,
				thumbnailWidth: "700",
				//uploadMultiple: true,
				parallelUploads: 100,
				resize: function(file) {
					var info;

					// drawImage(image, srcX, srcY, srcWidth, srcHeight, trgX, trgY, trgWidth, trgHeight) takes an image, clips it to
					// the rectangle (srcX, srcY, srcWidth, srcHeight), scales it to dimensions (trgWidth, trgHeight), and draws it
					// on the canvas at coordinates (trgX, trgY).
					info = {
						srcX:0,
						srcY:0,
						srcWidth: file.width,
						srcHeight: file.height,
						trgX:0,
						trgY:0,
						trgWidth: this.options.thumbnailWidth,
						trgHeight: parseInt(this.options.thumbnailWidth * file.height / file.width)
					}

					return info;
				},
				init: function() {
					this.on("dragstart", function(event) {
						//alert("dragstart")
					});
					this.on("dragenter", function(event) {
						//alert("dragenter")
					});
					this.on("dragleave", function(event) {
						//alert("dragleave")
					});
					this.on("dragover", function(event) {
						//alert("dragover")
					});
					this.on("dragend", function(event) {
						//alert("dragend")
					});
					this.on("complete", function(file) {
						window.location.href = "/upload_complete/"
					});
					this.on("addedfile", function(file) {
					  $(".dz-default").animate({'opacity':'0','height':'0'}, 300, function() {
					  	$(".dz-default").css("display","none");
					  });
					});
					this.on("sending", function(file, xhr, formData) {
						formData.append("title", document.getElementById("title").value);
						formData.append("tags", document.getElementById("tags").value);
						formData.append("contributor_type_1", document.getElementById("contributor_type_1").value);
						formData.append("contributor_name_1", document.getElementById("contributor_name_1").value);
						formData.append("contributor_type_2", document.getElementById("contributor_type_2").value);
						formData.append("contributor_name_2", document.getElementById("contributor_name_2").value);
						formData.append("contributor_type_3", document.getElementById("contributor_type_3").value);
						formData.append("contributor_name_3", document.getElementById("contributor_name_3").value);
						formData.append("contributor_type_4", document.getElementById("contributor_type_4").value);
						formData.append("contributor_name_4", document.getElementById("contributor_name_4").value);
						formData.append("contributor_type_5", document.getElementById("contributor_type_5").value);
						formData.append("contributor_name_5", document.getElementById("contributor_name_5").value);
						formData.append("street_address_1", document.getElementById("street_address_1").value);
						formData.append("street_address_2", document.getElementById("street_address_2").value);
						formData.append("city", document.getElementById("city").value);
						formData.append("state", document.getElementById("state").value);
						formData.append("zip_code", document.getElementById("zip_code").value);
						formData.append("place", document.getElementById("place").value);
						formData.append("tool", document.getElementById("tool").value);
						formData.append("iso", document.getElementById("iso").value);
						formData.append("aperture", document.getElementById("aperture").value);
						formData.append("exposure", document.getElementById("exposure").value);
						formData.append("focal_length", document.getElementById("focal_length").value);
						formData.append("private", document.getElementById("private").value);
						formData.append("brand_1", document.getElementById("brand_1").value);
						formData.append("product_1", document.getElementById("product_1").value);
						formData.append("product_url_1", document.getElementById("product_url_1").value);
						formData.append("brand_2", document.getElementById("brand_2").value);
						formData.append("product_2", document.getElementById("product_2").value);
						formData.append("product_url_2", document.getElementById("product_url_2").value);
						formData.append("brand_3", document.getElementById("brand_3").value);
						formData.append("product_3", document.getElementById("product_3").value);
						formData.append("product_url_3", document.getElementById("product_url_3").value);
					});
				}
			});
	</script>
	<script src="/static/js/core.js"></script>
</body>
</html>