<!DOCTYPE html>
<html>
<meta name="description" content="Dashboard">
<meta name="keywords" content="">
<meta name="author" content="Squiiid">
<head>
	<title>Dashboard | Squiiid</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- CSS -->
	<link href='/static/css/squiiid.css' rel='stylesheet' type='text/css'>
	<!-- Icons -->
	<link rel="icon" href="/static/assets/images/favicon.ico" />
	<link rel="apple-touch-icon-precomposed" media="(resolution: 326dpi)" href="/static/assets/images/apple-touch-icon-114.png">
	<link rel="apple-touch-icon-precomposed" media="(resolution: 163dpi)" href="/static/assets/images/apple-touch-icon-57.png">
	<link rel="apple-touch-icon-precomposed" media="(resolution: 132dpi)" href="/static/assets/images/apple-touch-icon-72.png">
</head>
<body id="body">
	<!-- Dashboard Elements -->
	<div class="dashboard">
				<!-- Layer 1: Uploader -->
		<div class="layer" id="uploader" style="display:block;opacity:1;">
			
			<div class="uploader">
				<form method="POST" enctype="multipart/form-data" action="">
					{% csrf_token %}
					<input type="submit" value="iii'm done" class="upload-button"/>
					<div class="upload-image-edit">
						<img src="{{MEDIA_URL}}{{image.image_compressed}}" border="0"/>
					</div>
					<div class="upload-details">
						<!-- Tags -->
						<div class="upload-section" id="section-tags" rel="open">
							<div class="upload-section-icon" id="upload-tags"></div>
							<div class="upload-content">
								<div class="upload-content-divider"></div>
								<input id="title" class="upload-full" name="title" placeholder="Title or brief description..." value="{{image.title}}" />
								<input id="tags" class="upload-full" name="tags" placeholder="separate tags by commas..." value="{{image.tags}}" />
							</div>
						</div>
						<!-- Contributors -->
						<div class="upload-section" id="section-contributors" rel="closed">
							<div class="upload-section-icon" id="upload-contributors"></div>
							<div class="upload-content">
								<div class="upload-content-divider"></div>
								<input id="contributor_type_1" name="contributor_type_1" placeholder="type" class="upload-half" value="{{image.contributor_type_1}}" />
								<input id="contributor_name_1" name="contributor_name_1" placeholder="name" class="upload-half" value="{{image.contributor_name_1}}" />
								<input id="contributor_type_2" name="contributor_type_2" placeholder="type" class="upload-half" value="{{image.contributor_type_2}}" />
								<input id="contributor_name_2" name="contributor_name_2" placeholder="name" class="upload-half" value="{{image.contributor_name_2}}" />
								<input id="contributor_type_3" name="contributor_type_3" placeholder="type" class="upload-half" value="{{image.contributor_type_3}}" />
								<input id="contributor_name_3" name="contributor_name_3" placeholder="name" class="upload-half" value="{{image.contributor_name_3}}" />
								<input id="contributor_type_4" name="contributor_type_4" placeholder="type" class="upload-half" value="{{image.contributor_type_4}}" />
								<input id="contributor_name_4" name="contributor_name_4" placeholder="name" class="upload-half" value="{{image.contributor_name_4}}" />
								<input id="contributor_type_5" name="contributor_type_5" placeholder="type" class="upload-half" value="{{image.contributor_type_5}}" />
								<input id="contributor_name_5" name="contributor_name_5" placeholder="name" class="upload-half" value="{{image.contributor_name_5}}" />
							</div>
						</div>
						<!-- Geo -->
						<div class="upload-section" id="section-geo" rel="closed">
							<div class="upload-section-icon" id="upload-geo"></div>
							<div class="upload-content">
								<div class="upload-content-divider"></div>
								<input id="street_address_1" name="street_address_1" placeholder="street_address_1" class="upload-half" value="{{image.street_address_1}}" />
								<input id="street_address_2" name="street_address_2" placeholder="street_address_2" class="upload-half" value="{{image.street_address_2}}" />
								<input id="city" name="city" placeholder="city" class="upload-half" value="{{image.city}}" />
								<input id="state" name="state" placeholder="state" class="upload-half" value="{{image.state}}" />
								<input id="zip_code" name="zip_code" placeholder="zip_code" class="upload-half" value="{{image.zip_code}}" />
								<input id="place" name="place" placeholder="place (arts district, etc.)" class="upload-half" value="{{image.place}}" />
							</div>
						</div>
						<!-- Camera -->
						<div class="upload-section" id="section-camera" rel="closed">
							<div class="upload-section-icon" id="upload-camera"></div>
							<div class="upload-content">
								<div class="upload-content-divider"></div>
								<input id="tool" name="tool" placeholder="tool" class="upload-half" value="{{image.tool}}" />
								<input id="iso" name="iso" placeholder="iso" class="upload-half" value="{{image.iso}}" />
								<input id="aperture" name="aperture" placeholder="aperture" class="upload-half" value="{{image.aperture}}" />
								<input id="exposure" name="exposure" placeholder="exposure" class="upload-half" value="{{image.exposure}}" />
								<input id="focal_length" name="focal_length" placeholder="focal_length" class="upload-half" value="{{image.focal_length}}" />
								<input id="private" name="private" type="checkbox" class="upload-checkbox" {% if image.private %}checked{% endif %} /><label>private</label>
							</div>
						</div>
						<!-- Products -->
						<div class="upload-section" id="section-products" rel="closed">
							<div class="upload-section-icon" id="upload-products"></div>
							<div class="upload-content">
								<div class="upload-content-divider"></div>
								<input id="brand_1" class="upload-third" name="brand_1" placeholder="brand" value="{{image.brand_1}}" />
								<input id="product_1" class="upload-third" name="product_1" placeholder="product" value="{{image.product_1}}" />
								<input id="product_url_1" class="upload-third" name="product_url_1" placeholder="url" title="Please reference URL where product can be purchased" value="{{image.product_url_1}}" />
								<input id="brand_2" class="upload-third" name="brand_2" placeholder="brand" value="{{image.brand_2}}" />
								<input id="product_2" class="upload-third" name="product_2" placeholder="product" value="{{image.product_2}}" />
								<input id="product_url_2" class="upload-third" name="product_url_2" placeholder="url" title="Please reference URL where product can be purchased" value="{{image.product_url_2}}" />
								<input id="brand_3" class="upload-third" name="brand_3" placeholder="brand" value="{{image.brand_3}}" />
								<input id="product_3" class="upload-third" name="product_3" placeholder="product" value="{{image.product_3}}" />
								<input id="product_url_3" class="upload-third" name="product_url_3" placeholder="url" title="Please reference URL where product can be purchased" value="{{image.product_url_3}}" />
							</div>
						</div>
					</div>
				</form>
				<div class="edit-bottom">
					<button onclick="location.href='/delete/{{image.id}}/'" class="edit-delete">Delete Photo?</button>
				</div>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
	<script src="/static/js/jquery.validate.min.js"></script>
	<script src="/static/js/form_validator.js"></script>
	<script src="/static/js/core.js"></script>
</body>
</html>