<div class="squiiid-object" onhover="hover_ajax();">
	<style>
		*{margin:0px;padding:0px;}
		body {
			width:100%;
			height:100%;
			overflow: hidden;
		}
		.squiiid-object,
		.squiiid-ink,
		.squiiid-links,
		.squiiid-reblog,
		.squiiid-reblog textarea {
			box-sizing:border-box;
			-o-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
		}
		.squiiid-object {
			width:100%;
			height:auto;
			position: absolute;
			top:0px;
			left:0px;
			height:auto;
			padding:0px;
			overflow:hidden;
		}
		.squiiid-img {
			float:left;
			width:100%;
			height:auto;
			margin:0px;
			border:0px;
		}
		.squiiid-ink {
			width:0px;
			height:0px;
			background-color: rgba(26,26,26,0.95);
			float:left;
			color:#FFF;
			position: relative;
			opacity:0;
			transition:opacity 0.25s ease;
			-o-transition:opacity 0.25s ease;
			-webkit-transition:opacity 0.25s ease;
			-moz-transition:opacity 0.25s ease;
			overflow: hidden;
			z-index:7;
		}
		.squiiid-object:hover .squiiid-ink {opacity: 1;}
		.liiike-no {color:#fff;}
		.liiike-yes {color:#ec5444;}
		.liiike-no,
		.liiike-yes {
			transition:color 0.25s ease;
			-o-transition:color 0.25s ease;
			-webkit-transition:color 0.25s ease;
			-moz-transition:color 0.25s ease;
		}
		.squiiid-links {
			width:100%;
			height:100%;
			z-index:8;
			position: absolute;
		}
		.squiiid-links span {
			width:100%;
			height:90px;
			position: absolute;
			top:50%;
			margin-top:-45px;
		}
		.squiiid-links p {
			width:100px;
			height:auto;
			float:left;
			text-align: center;
			font-family: 'Courier New', Courier, sans-serif;
			font-weight:800;
			cursor: pointer;
			font-size:12px;
			position: relative;
			left:50%;
			margin:0px 0px 15px -50px;
			clear:both;
		}
		.squiiid-links p:hover {text-decoration: underline;}
		.squiiid-links p a:link,
		.squiiid-links p a:active,
		.squiiid-links p a:visited {text-decoration: none;}
		.squiiid-links p a:link,
		.squiiid-links p a:active,
		.squiiid-links p a:visited,
		.squiiid-links p a:hover {color:#FFF;}
		.squiiid-reblog {
			position: absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			z-index:7;
			opacity:0;
			transition:opacity 0.25s ease;
			-o-transition:opacity 0.25s ease;
			-webkit-transition:opacity 0.25s ease;
			-moz-transition:opacity 0.25s ease;
		}
		.squiiid-reblog label,
		.squiiid-reblog textarea {
			width:50%;
			max-width:50%;
			margin-left:25%;
			margin-right:25%;
			float:left;
			display: block;
		}
		.squiiid-reblog label {
			height:5%;
			margin-top:7%;
			margin-bottom:10%;
			text-align: center;
			font-family: 'Courier New', Courier, sans-serif;
			color:#ec5444;
			font-size:12px;
			font-weight:300;
		}
		.squiiid-reblog textarea {
			height:36%;
			max-height:36%;
			border:0px;
			background-color: #000;
			color:#FFF;
			z-index:inherit;
			padding:15px;
		}
	</style>
	<div class="squiiid-ink" id="squiiid-ink-{{image.id}}">
		<div class="squiiid-links" id="squiiid-links-{{image.id}}">
			<span>
				<p onclick="liiike()" class="liiike-no" id="squiiid-liiike-{{image.id}}">liiike</p>
				<p onclick="reblog()">reblog</p>
				<p><a href="" target="_blank" onclick="click_ajax();return false;">image details</a></p>
			</span>
		</div>
		<div class="squiiid-reblog" id="squiiid-reblog-{{image.id}}" onclick="closereblog()">
			<label>Embed this code on your website or blog</label>
			<textarea onmouseover="javascript:this.focus();this.select();"><object data="http://squiiid.com/image/{{image.id}}/" /></textarea>
		</div>
	</div>
	<img src="{{MEDIA_URL}}{{image.image_1}}" id="squiiid-img-{{image.id}}-1" class="squiiid-img"/>
	<img src="{{MEDIA_URL}}{{image.image_2}}" id="squiiid-img-{{image.id}}-2" class="squiiid-img" onload="getinky()"/>
	<script>
	function getinky() {
		document.getElementById("squiiid-ink-{{image.id}}").style.height = (document.getElementById("squiiid-img-{{image.id}}-1").height + document.getElementById("squiiid-img-{{image.id}}-2").height);
		document.getElementById("squiiid-ink-{{image.id}}").style.width = document.getElementById("squiiid-img-{{image.id}}-1").width;
		document.getElementById("squiiid-ink-{{image.id}}").style.marginBottom = Number(document.getElementById("squiiid-img-{{image.id}}-1").width + document.getElementById("squiiid-img-{{image.id}}-2").width) *(-1);
	}

	window.onresize = getinky;
	function reblog() {
		document.getElementById("squiiid-reblog-{{image.id}}").setAttribute("style","z-index:10;");
		document.getElementById("squiiid-reblog-{{image.id}}").style.opacity = '1';
		reblog_ajax();
	}
	function closereblog(){
		document.getElementById("squiiid-reblog-{{image.id}}").style.opacity = '0';
		document.getElementById("squiiid-reblog-{{image.id}}").setAttribute("style","z-index:7;");
	}
	function liiike() {
		liiikestate = document.getElementById("squiiid-liiike-{{image.id}}").getAttribute("class");
		if (liiikestate == "liiike-no") {
			document.getElementById("squiiid-liiike-{{image.id}}").innerHTML = "i liiike this";
			document.getElementById("squiiid-liiike-{{image.id}}").setAttribute("class","liiike-yes");
			liiike_ajax();
		}
		else {
			document.getElementById("squiiid-liiike-{{image.id}}").innerHTML = "liiike";
			document.getElementById("squiiid-liiike-{{image.id}}").setAttribute("class","liiike-no");
		}
	}
	function liiike_ajax() {
		var http;
	
		if( window.XMLHttpRequest )
		{// code for IE7+, Firefox, Chrome, Opera, Safari
			http = new XMLHttpRequest();
		}
		else
		{// code for IE6, IE5
			http = new ActiveXObject( 'Microsoft.XMLHTTP' );
		}
	
		var url = '//squiiid.com/like/{{image.id}}/';
		var params = '';
		http.open( 'POST', url, true );

		//Send the proper header information along with the request
		http.setRequestHeader( 'Content-type', 'application/x-www-form-urlencoded' );

		http.onreadystatechange = function()
		{
			if( http.readyState == 4 && http.status == 200 )
			{
				//confirm sent
			}
		}

		http.send( params );
	}
	function click_ajax() {
		var http;
	
		if( window.XMLHttpRequest )
		{// code for IE7+, Firefox, Chrome, Opera, Safari
			http = new XMLHttpRequest();
		}
		else
		{// code for IE6, IE5
			http = new ActiveXObject( 'Microsoft.XMLHTTP' );
		}
	
		var url = '//squiiid.com/click/{{image.id}}/';
		var params = '';
		http.open( 'POST', url, true );

		//Send the proper header information along with the request
		http.setRequestHeader( 'Content-type', 'application/x-www-form-urlencoded' );

		http.onreadystatechange = function()
		{
			if( http.readyState == 4 && http.status == 200 )
			{
				window.open('//squiiid.com/image/details/{{image.id}}/');
			}
		}

		http.send( params );
	}
	function hover_ajax() {
		var http;
	
		if( window.XMLHttpRequest )
		{// code for IE7+, Firefox, Chrome, Opera, Safari
			http = new XMLHttpRequest();
		}
		else
		{// code for IE6, IE5
			http = new ActiveXObject( 'Microsoft.XMLHTTP' );
		}
	
		var url = '//squiiid.com/hover/{{image.id}}/';
		var params = '';
		http.open( 'POST', url, true );

		//Send the proper header information along with the request
		http.setRequestHeader( 'Content-type', 'application/x-www-form-urlencoded' );

		http.onreadystatechange = function()
		{
			if( http.readyState == 4 && http.status == 200 )
			{
				//confirm sent
			}
		}

		http.send( params );
	}
	function reblog_ajax() {
		var http;
	
		if( window.XMLHttpRequest )
		{// code for IE7+, Firefox, Chrome, Opera, Safari
			http = new XMLHttpRequest();
		}
		else
		{// code for IE6, IE5
			http = new ActiveXObject( 'Microsoft.XMLHTTP' );
		}
	
		var url = '//squiiid.com/reblog/{{image.id}}/';
		var params = '';
		http.open( 'POST', url, true );

		//Send the proper header information along with the request
		http.setRequestHeader( 'Content-type', 'application/x-www-form-urlencoded' );

		http.onreadystatechange = function()
		{
			if( http.readyState == 4 && http.status == 200 )
			{
				//confirm sent
			}
		}

		http.send( params );
	}
	</script>
</div>