<div class="squiiid-object">
	<style>
		.squiiid-object,
		.squiiid-ink,
		.squiiid-links,
		.squiiid-reblog {
			box-sizing:border-box;
			-o-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
		}
		.squiiid-object {
			width:100%;
			height:auto;
			float:left;
			height:auto;
			padding:0px;
		}
		.squiiid-img {
			float:left;
			width:100%;
			height:auto;
			margin:0px;
			border:0px;
		}
		.squiiid-ink {
			width:0px;
			height:0px;
			background-color: rgba(26,26,26,0.95);
			float:left;
			color:#FFF;
			position: relative;
			opacity:0;
			transition:opacity 0.25s ease;
			-o-transition:opacity 0.25s ease;
			-webkit-transition:opacity 0.25s ease;
			-moz-transition:opacity 0.25s ease;
			text-align: center;
			overflow: hidden;
		}
		.squiiid-ink p {
			font-family: 'Courier New', Courier, sans-serif;
			font-weight:800;
			cursor: pointer;
			font-size:12px;
			margin:0px 0px 10px 0px;
		}
		.squiiid-ink p:hover {text-decoration: underline;}
		.squiiid-object:hover .squiiid-ink {opacity: 1;}
		.squiiid-links {
			width:100%;
			height:100%;
			z-index:8;
			padding-top:28%;
			position: relative;
		}
		.squiiid-reblog {
			position: relative;
			top:-100%;
			width:100%;
			height:100%;
			z-index:7;
			opacity:0;
			transition:opacity 0.25s ease;
			-o-transition:opacity 0.25s ease;
			-webkit-transition:opacity 0.25s ease;
			-moz-transition:opacity 0.25s ease;
		}
		.squiiid-reblog label,
		.squiiid-reblog textarea {
			width:50%;
			max-width:50%;
			margin-left:25%;
			margin-right:25%;
			float:left;
			display: block;
		}
		.squiiid-reblog label {
			height:5%;
			margin-top:10%;
			margin-bottom:10%;
			text-align: center;
			font-family: 'Courier New', Courier, sans-serif;
			color:#ec5444;
			font-size:12px;
			font-weight:300;
		}
		.squiiid-reblog textarea {
			height:50%;
			border:0px;
			background-color: #000;
			color:#FFF;
			z-index:inherit;
		}
	</style>
	<div class="squiiid-ink" id="squiiid-ink-{{image.id}}">
		<div class="squiiid-links" id="squiiid-links-{{image.id}}">
			<p>liiike</p>
			<p onclick="reblog()">reblog</p>
		</div>
		<div class="squiiid-reblog" id="squiiid-reblog-{{image.id}}" onclick="closereblog()">
			<label>Embed this code on your website or blog</label>
			<textarea><object src="http://squiiid.com/image/69/" width="69" height="69" /></textarea>
		</div>
	</div>
	<img src="/media/{{image.image}}" id="squiiid-img-{{image.id}}" class="squiiid-img" onload="getinky()"/>
	<script>
	function getinky() {
		document.getElementById("squiiid-ink-{{image.id}}").style.height = document.getElementById("squiiid-img-{{image.id}}").height;
		document.getElementById("squiiid-ink-{{image.id}}").style.width = document.getElementById("squiiid-img-{{image.id}}").width;
		document.getElementById("squiiid-ink-{{image.id}}").style.marginBottom = Number(document.getElementById("squiiid-img-{{image.id}}").width)*(-1);
	}

	window.onresize = getinky;
	function reblog() {
		document.getElementById("squiiid-reblog-{{image.id}}").setAttribute("style","z-index:10;");
		document.getElementById("squiiid-reblog-{{image.id}}").style.opacity = '1';
	}
	function closereblog(){
		document.getElementById("squiiid-reblog-{{image.id}}").style.opacity = '0';
		document.getElementById("squiiid-reblog-{{image.id}}").setAttribute("style","z-index:7;");
	}
	</script>
</div>