<!DOCTYPE html>
<html>
<meta name="description" content="Dashboard">
<meta name="keywords" content="">
<meta name="author" content="Squiiid">
<head>
	<title>{{image.title}} | Squiiid</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="icon" href="/static/assets/images/favicon.ico" />
	<!-- CSS -->
	<style>
		.squiiid-details {
			width:100%;
			height:100%;
			position: fixed;
			top:0px;
			left:0px;
			z-index:9999;
			background-color: rgba(255,255,255,0.92);
			box-sizing:border-box;
			-o-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			padding:50px;
		}
		.image,
		.details {
			width:50%;
			height:66%;
			float:left;
			margin-top:17%;
			text-align: center;
		}
		.image img {
			float:left;
		}
		.squiiid-portrait {
			width:auto;
			height:100%;
			margin:0px auto 0px auto;
		}
		.squiiid-landscape {
			width:100%;
			height:auto;
			margin:auto 0px auto 0px;
		}
		.squiiid-square {
			width:80%;
			height:auto;
			margin:auto 10% auto 10%;
		}
	</style>
</head>
<body>
	<div class="squiiid-details">
		<div class="image">
			<img src="{{MEDIA_URL}}{{image.image}}" onload="sizemeupfool()" alt="{{image.title}} by {{image.author}}" border="0" id="squiiid-image-{{image.id}}"/>
		</div>
		<div class="details">
			<div class="arrow-l" id="prev"></div>
			<div class="arrow-r" id="next"></div>
			<div class="carousel">
				<!-- Slide for Contributors, if blank do not show -->
				{% if image.contributor_name_1 != '' or  image.contributor_name_2 != '' or image.contributor_name_3 != '' or image.contributor_name_4 != '' or image.contributor_name_5 != '' %}
				<div class="slide">
					<!-- Make one of these for each entry -->
					{% if image.contributor_name_1 != '' %}
					<p><b>{{image.contributor_type_1}}</b><i>{{image.contributor_name_1}}</i></p>
					{% endif %}
					{% if image.contributor_name_2 != '' %}
					<p><b>{{image.contributor_type_2}}</b><i>{{image.contributor_name_2}}</i></p>
					{% endif %}
					{% if image.contributor_name_3 != '' %}
					<p><b>{{image.contributor_type_3}}</b><i>{{image.contributor_name_3}}</i></p>
					{% endif %}
					{% if image.contributor_name_4 != '' %}
					<p><b>{{image.contributor_type_4}}</b><i>{{image.contributor_name_4}}</i></p>
					{% endif %}
					{% if image.contributor_name_5 != '' %}
					<p><b>{{image.contributor_type_5}}</b><i>{{image.contributor_name_5}}</i></p>
					{% endif %}
				</div>
				{% endif %}
				<!-- Slide for Products, if blank do not show -->
				{% if image.product_1 != '' or  image.product_2 != '' or image.product_3 != '' or image.product_4 != '' or image.product_5 != '' %}
				<div class="slide">
					<!-- Make one of these for each entry -->
					{% if image.product_1 != '' %}
					<p><a href="{{image.product_url_1}}" target="_blank"><b>{{image.brand_1}}</b><i>{{image.product_1}}</i></a></p>
					{% endif %}
					{% if image.product_2 != '' %}
					<p><a href="{{image.product_url_2}}" target="_blank"><b>{{image.brand_2}}</b><i>{{image.product_2}}</i></a></p>
					{% endif %}
					{% if image.product_3 != '' %}
					<p><a href="{{image.product_url_3}}" target="_blank"><b>{{image.brand_3}}</b><i>{{image.product_3}}</i></a></p>
					{% endif %}
					{% if image.product_4 != '' %}
					<p><a href="{{image.product_url_4}}" target="_blank"><b>{{image.brand_4}}</b><i>{{image.product_4}}</i></a></p>
					{% endif %}
					{% if image.product_5 != '' %}
					<p><a href="{{image.product_url_5}}" target="_blank"><b>{{image.brand_5}}</b><i>{{image.product_5}}</i></a></p>
					{% endif %}
				</div>
				{% endif %}
				<!-- Slide for Title + Location, if blank do not show -->
				{% if image.title != '' or  image.street_address_1 != '' or image.city != '' or image.state != '' or image.zip_code != '' or image.place != '' %}
				<div class="slide">
					<!-- Only show if has a title-->
					{% if image.title != '' %}
					<p>{{image.title}}</p>
					{% endif %}
					<!-- Only show each variable if it is not blank -->
					{% if image.street_address_1 != '' or image.city != '' or image.state != '' or image.zip_code != '' or image.place != '' %}
					<p>{{image.street_address_1}} {{image.street_address_2}} | {{image.city}} {{image.state}}, {{image.zip_code}}. {{image.place}}</p>
					{% endif %}
				</div>
				{% endif %}
				<!-- Slide for EXIF, if blank do not show -->
				{% if image.tool != '' or  image.iso != '' or image.aperture != '' or image.exposure != '' or image.focal_length != '' %}
				<div class="slide">
					<!-- make one of these for each set of exif data -->
					{% if image.tool != '' %}
					<p><b>Camera:</b><i>{{image.tool}}</i></p>
					{% endif %}
					{% if image.iso != '' %}
					<p><b>ISO:</b><i>{{image.iso}}</i></p>
					{% endif %}
					{% if image.aperture != '' %}
					<p><b>Aperture:</b><i>{{image.aperture}}</i></p>
					{% endif %}
					{% if image.exposure != '' %}
					<p><b>Shutter:</b><i>{{image.exposure}}</i></p>
					{% endif %}
					{% if image.focal_length != '' %}
					<p><b>Focal Length:</b><i>{{image.focal_length}}</i></p>
					{% endif %}
				</div>
				{% endif %}
				<div class="slide">Ink by Squiiid</div>
			</div>
		</div>
	</div>
	<script>
		function sizemeupfool() {
			imgheight = document.getElementById("squiiid-image-{{image.id}}").naturalHeight;
			imgwidth = document.getElementById("squiiid-image-{{image.id}}").naturalWidth;
			if (imgheight > imgwidth) {
				document.getElementById("squiiid-image-{{image.id}}").setAttribute("class","squiiid-portrait");
			}
			else if (imgwidth > imgheight) {
				document.getElementById("squiiid-image-{{image.id}}").setAttribute("class","squiiid-landscape");
			}
			else if (imgwidth == imgheight) {
				document.getElementById("squiiid-image-{{image.id}}").setAttribute("class","squiiid-square");
			}
		}
	</script>
</body>
</html>