<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title>squiiid</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-startup-image" href="/static/home/splash_screen.png" />
    <link rel="stylesheet" media="all" href="/static/home/css/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/home/js/jquery.cycle.all.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


    <script src="/static/home/js/main.js"></script>
  </head>
  
  <body class="grid" data-issue="1">
    <div id="wrapper">
   
      <div id="content" data-script="Articles">
              
        <article id="cover" class="title-page"  data-google="Cover">
        
        <header>
          <div id="play"><a href="window.open('//vimeo.com')" target="_blank"><img src="/static/home/assets/1/play_button.png" /></a></div>
          <h1><span>squiiid</span> is you and your work. linked.</h1>
          <div class="signin">
            <img src="/static/home/assets/1/X.png" /><a href="/request_invite/"><img src="/static/home/assets/1/request_inviiiite_with_line.png" style="margin-left:30px;" /></a><br />
          </div>
          
         
        </header> 
        <video autoplay="autoplay" id="spot" loop="loop" style="display:block;">
            <source src="/static/home/assets/AKP_LOOP.m4v" />
            <source src="/static/home/assets/AKP_LOOP_720p.ogv" />
          </video>
         
        

        </article>

        
        
        <article id="slideset1">

          <div class="interior">
              <div id="clear" style="width:800px;height:20px;z-index:9000;position:relative;margin: 0 auto"><img src="/static/home/screen-top.png" style="margin-top:-59px;width:791px" /></div>          
            <div id="screen1" style="height:800px;margin:0 auto; width:800px;">

              <figure style="min-height: 1550px;top:100px;">
                <img src="/static/home/assets/1/photo_skate.jpg" />
                <img src="/static/home/assets/1/tag_logo.png" />
                <img src="/static/home/assets/1/photo_jumper.jpg" />
                <img src="/static/home/assets/1/photo_orange_leaves.jpg" />
                <div id="overlay" class="overlay"><h3>Link Your Photos &amp; Designs.</h3><br />
                  <p>Store them. Secure them. Share them. <br />
                    Manage and protect your creative work from one place.</p></div>
                <img src="/static/home/assets/1/photo_supreme.jpg" id="supreme" />
              </figure>
          <img src="/static/home/screen-bottom.png" style="margin-top:490px;position:relative;z-index:99999;"/>

          </div>

            
          </div>
          
        </article>

        <article class="credit" id="slideset2">
        
        <header>
          <h1><span>squiiid</span> is never losing credit.</h1>
         
        </header> 
         
        

        </article>

       <article id="slideset3">

        <div class="interior">
            <div id="clear" style="width:800px;height:20px;z-index:9000;position:relative;margin: 0 auto"><img src="/static/home/screen-top.png" style="margin-top:-59px;width:791px" /></div>          
          <div id="screen2" style="height:800px;margin:0 auto; width:800px;">
             <div id="overlay2" class="overlay2"><h3>Push your work across the web without fear of it being stolen</h3><br />
    <p>Ink yourself to your work forever, wherever <br />
                    Photographers, bloggers, designers, and magazines use Squiiid to<br />
                    permanently attach themselves to the work they create.<br />
                    Finally publish work off your site with confidence.</p></div>
            <div id="pager1" class="pager"></div>
            <div class="cycle_1">
              <img src="/static/home/assets/2/contributors_full.jpg" style="margin-left:33px;" />
              <img src="/static/home/assets/2/location_full.jpg" style="margin-left:33px;" />
              <img src="/static/home/assets/2/camera_data_full.jpg" style="margin-left:33px;" />



            </div>
        <img src="/static/home/screen-bottom.png" style="margin-top:490px;position:relative;z-index:99999;"/>

          </div>

          
        </div>
        
      </article>
      <article class="credit" id="slideset4">
        
        <header>
          <h1><span>squiiid</span> is wherever you share. or get shared.</h1>
         
        </header> 
         
        

      </article>
      <article id="slideset5">

          <div class="interior">
              <div id="clear" style="width:800px;height:20px;z-index:9000;position:relative;margin: 0 auto"><img src="/static/home/screen-top.png" style="margin-top:-59px;width:791px" /></div>          
            <div id="screen3" style="height:800px;margin:0 auto; width:800px;">

              <figure style="min-height: 950px;top:100px;left:auto;margin-left:0;" class="figure_special">
                <img src="/static/home/assets/3/suspend_page.jpg" />
                <img src="/static/home/assets/3/tried_and_true_page.jpg" />
                <div id="overlay3" class="overlay" style="z-index:999;padding-top:140px;height:400px;"><h3>&lt;embed&gt; on your site. and anywhere you share</h3><br />
                  <p>Share to blogs, online magazines, or personal sites.<br />
                    No matter how often your photo gets reblogged<br />
                    your website and digital signature travel with it.</p></div>
                <div id="pager2" class="pager" style="margin-top:435px;margin-left:355px;z-index:9999;"></div>

                <div class="cycle_2">
                  <img src="/static/home/assets/3/iiink_blog.jpg" />
                  <img src="/static/home/assets/3/iiink_blog_2.jpg" />
                  <img src="/static/home/assets/3/info_on_blog_full.jpg" />
                </div>
                
              </figure>
          <img src="/static/home/screen-bottom.png" style="margin-top:490px;position:relative;z-index:99999;"/>

          </div>

            
          </div>
          
        </article>
      <article class="credit" id="slideset6">
        
        <header>
          <h1><span>squiiid</span> is more eyes.</h1>
         
        </header> 
         
        

      </article>  

      <article id="slideset7">
        <div class="interior">
            <div id="clear" style="width:800px;height:20px;z-index:9000;position:relative;margin: 0 auto"><img src="/static/home/screen-top.png" style="margin-top:-59px;width:791px" /></div>          
          <div id="screen2" style="height:800px;margin:0 auto; width:800px;">
             <div id="slidebottom" class="slide">
  <div class="inner">
  <div class="overlay3"><h3>seo optimize every photo on every platform you share to.</h3>
  <p>Get more eyes on your photos if you upload to Squiiid first.<br />
  Every photo can be made searchable by location, photographer, lens, <br />
  aperture, product detail, even color...shhh.</p>
  </div> 

    <div id="home1" style="margin-left:33px;">
      <img src="/static/home/assets/4/mini_1.jpg" id="slider1" style="display:none;" />
    </div>
    <div id="home2" style="margin-left:33px;margin-top:-4px;">
      <img src="/static/home/assets/4/mini_9.jpg" id="slider2" style="display:none;"/>
    </div>
    <div id="home3" style="margin-left:33px;">
      <img src="/static/home/assets/4/mini_12.jpg" id="slider3" style="display:none;"/>
    </div>
    <div id="home4" style="margin-left:177px;margin-top:-430px;">
      <img src="/static/home/assets/4/mini_2.jpg" id="slider4" style="display:none;" />
    </div>
    <div id="home5" style="margin-left:177px;margin-top:-4px;">
      <img src="/static/home/assets/4/mini_6.jpg" id="slider5" style="display:none;" />
    </div>
    <div id="home6" style="margin-left:177px;">
      <img src="/static/home/assets/4/mini_10.jpg" id="slider6" style="display:none;" />
    </div>
    <div id="home7" style="margin-left:177px;margin-top:-7px;position:absolute;">
      <img src="/static/home/assets/4/mini_13.jpg" id="slider7" style="display:none;" />
    </div>
    <div id="home8" style="margin-left:324px;margin-top:-350px;">
      <img src="/static/home/assets/4/mini_3.jpg" id="slider8" style="display:none;" />
    </div>

    <div id="home9" style="margin-left:321px;margin-top:226px;">
      <img src="/static/home/assets/4/mini_14.jpg" id="slider9" style="display:none;" />
    </div> 
    <div id="home10" style="margin-left:467px;position:absolute;margin-top:-461px;">
      <img src="/static/home/assets/4/mini_4.jpg" id="slider10" style="display:none;" />
    </div>
    <div id="home11" style="margin-left:467px;position:absolute;margin-top:-347px;">
      <img src="/static/home/assets/4/mini_7.jpg" id="slider11" style="display:none;" />
    </div>
    <div id="home12" style="margin-left:467px;position:absolute;margin-top:-233px;">
      <img src="/static/home/assets/4/mini_11.jpg" id="slider12" style="display:none;" />
    </div>
    <div id="home13" style="margin-left:467px;position:absolute;margin-top:-119px;">
      <img src="/static/home/assets/4/mini_15.jpg" id="slider13" style="display:none;" />
    </div>
    <div id="home14" style="margin-left:611px;position:absolute;margin-top:-461px;">
      <img src="/static/home/assets/4/mini_5.jpg" id="slider14" style="display:none;" />
    </div>
    <div id="home15" style="margin-left:611px;position:absolute;margin-top:-347px;">
      <img src="/static/home/assets/4/mini_8.jpg" id="slider15" style="display:none;" />
    </div>
    <div id="home16" style="margin-left:611px;position:absolute;margin-top:-119px;">
      <img src="/static/home/assets/4/mini_16.jpg" id="slider16" style="display:none;" />
    </div>
   
</div>
</div>

        <img src="/static/home/screen-bottom.png" style="margin-top:490px;position:relative;z-index:99999;"/>

          </div>

          
        </div>
        
      </article>      
        
         <article class="credit" id="slideset8">
        
        <header>
          <h1><span>squiiid</span> is design in mind.</h1>
         
        </header> 
         
        

      </article>

            <article id="slideset9">

          <div class="interior">
              <div id="clear" style="width:800px;height:20px;z-index:9000;position:relative;margin: 0 auto"><img src="/static/home/screen-top.png" style="margin-top:-59px;width:791px" /></div>          
            <div id="screen3" style="height:800px;margin:0 auto; width:800px;">

              <figure style="min-height: 200px;top:100px;left:auto;margin-left:0;" class="figure_special">
                <div id="pager3" class="pager"></div>

                <div class="cycle_3" style="margin-top:-44px;">
                  <img src="/static/home/assets/5/ace_blog_full.jpg" />
                  <img src="/static/home/assets/5/ace_blog_full_2.jpg" />
                </div>

                <div id="overlay4" class="overlay" style="z-index:999;;height:436px;margin-top:-434px;"><h3>watermarks are so yesterday</h3><br />
                  <p>No dots. No pop ups. Squiiid was created by creatives<br />
                    for creatives. Preserving the original quality of your work is our<br />
                    utmost concern. Info about you and your photo are hidden until<br />
                    sought by the viewer.</p></div>
                
                
              </figure>
          <img src="/static/home/screen-bottom.png" style="margin-top:490px;position:relative;z-index:99999;"/>

          </div>

            
          </div>
          
        </article>  

        <article class="credit" style="background-color:#fff;">
          <header>
            <h1><span style="color:#ec5444;">squiiid</span> for brands.</h1>
          </header>
        </article>

         <article id="slideset3">

        <div class="interior">
            <div id="clear" style="width:800px;height:20px;z-index:9000;position:relative;margin: 0 auto"><img src="/static/home/screen-top.png" style="margin-top:-59px;width:791px" /></div>          
          <div id="screen4" style="height:800px;margin:0 auto; width:800px;">
             <div id="overlay5" class="overlay2"><h3>sell product for free (limited alpha spots available)</h3><br />
    <p>Get the security and sharing features of Squiiid plus the ability to <br />
      sell your product anywhere your photo is shared. <br />
      Embed your shopping cart in any image and <a href="#">start selling</a>.<br />
      <a href="#">Secure your spot</a></p></div>
              <img src="/static/home/assets/6/brands_full.jpg" style="margin-left:33px;" />



        <img src="/static/home/screen-bottom.png" style="margin-top:490px;position:relative;z-index:99999;"/>

          </div>

          
        </div>
        
      </article>

      <article id="last">
        <header style="text-align:center;width:100%;margin-top:280px;">
          <p>Start inking your photos. <a href="/request_invite/" class="orange">Request invite.</a><br />
          <span class="orange">(LIMITED ALPHA SPOTS AVAILABLE)</span></p>
          <br />
          <p>Squiiid is an LA startup. Our friends<br />
            work and play on Fairfax, BM Blvd,<br />
            Factory Place, and Ventura Blvd.<br />
            <!--Say <a href="t" class="lgray">hiii</a>--></p>
          <br />
          <!--<p><a href="#" class="lgray">About Us</a>--></p>
        </header>
      </article>
        
      </div> 

    </div>
    
    <script type="text/javascript">
    var continueVar = true;
    var continueVar2 = true;
    $(window).scroll(function(){
      var in_view = $("._inview").attr("id");
      if(in_view == "slideset1" && parseInt($("figure").css("margin-top")) < -1590) {
        $("#supreme").attr("src","/static/home/assets/1/supreme_overlay.jpg");
      }
      if(in_view == "slideset5" && continueVar == true) {
        $('.cycle_2').cycle({
          fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
          speed: 300, 
           pager: "#pager2",
          pagerAnchorBuilder: function(index, el) {
            return '<a href="#">&bull;</a>';
          } 
        });
        continueVar = false;  
      }
      if(in_view == "slideset9" && continueVar2 == true) {
        $('.cycle_3').cycle({
          fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
          speed: 300, 
           pager: "#pager3",
          pagerAnchorBuilder: function(index, el) {
            return '<a href="#">&bull;</a>';
          } 
        });   
        continueVar2 = false;  
      }
      //console.log(document.body.scrollTop);
     
      if(in_view == "slideset7") {
          $("#slider1,#slider2,#slider3,#slider4").show("slide", { direction: "right" }, 1000);
          $("#slider5,#slider6,#slider7,#slider8").show("slide", { direction: "left" }, 1000);
          $("#slider9,#slider10,#slider11,#slider12").show("slide", { direction: "up" }, 1000);
          $("#slider13,#slider14,#slider15,#slider16").show("slide", { direction: "down" }, 1000);

      }
 


      


    })
      $("#screen1 figure").mouseover(function(){
        $(".overlay").show();
      }).mouseout(function(){
        $(".overlay").hide();
      });
      $("#screen1").scroll(function() {
        console.log("scrolling")
      });

      $('.cycle_1').cycle({
        fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        speed: 500,
        pager: "#pager1",
        pagerAnchorBuilder: function(index, el) {
          return '<a href="#">&bull;</a>';
        } 
      }); 
              

      $("#screen2").mouseover(function(){
        $(".overlay2").show();
      }).mouseout(function(){
        $(".overlay2").hide();
      });
      $("#screen3 figure").mouseover(function(){
        $("#overlay3").show();
      }).mouseout(function(){
        $("#overlay3").hide();
      });

      $("#slidebottom").mouseover(function(){
        $(".overlay3").show();
      }).mouseout(function(){
        $(".overlay3").hide();
      });
      $("#screen3 figure.figure_special").mouseover(function(){
        $("#overlay4").show();
      }).mouseout(function(){
        $("#overlay4").hide();
      });

      $("#screen4").mouseover(function(){
        $("#overlay5").show();
      }).mouseout(function(){
        $("#overlay5").hide();
      });



    </script>
  </body>
 
</html>