<!DOCTYPE html>
<html>
<meta name="description" content="Description goes here">
<meta name="keywords" content="">
<meta name="author" content="Squiiid">
<head>
	<title>Squiiid</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- CSS -->
	<link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link href='/static/css/squiiid.css' rel='stylesheet' type='text/css'>
	<!-- Icons -->
	<link rel="icon" href="/static/assets/images/favicon.ico" />
	<link rel="apple-touch-icon-precomposed" media="(resolution: 326dpi)" href="/static/assets/images/apple-touch-icon-114.png">
	<link rel="apple-touch-icon-precomposed" media="(resolution: 163dpi)" href="/static/assets/images/apple-touch-icon-57.png">
	<link rel="apple-touch-icon-precomposed" media="(resolution: 132dpi)" href="/static/assets/images/apple-touch-icon-72.png">
</head>
<body id="body">
	<!-- Fixed UI Elements -->
	<!--
	<div class="button-back" id="button-back">&larr;</div>
	<div class="button-login" id="button-login"></div>
	-->
	<!--<div class="squiiid">-->
		<div class="layer" id="login" style="display:block;opacity:1;">
			<div class="layer-slide" id="slide-login">
				<form class="login-form" method="post" action="">
					{% csrf_token %}
					<input type="text" name="name" placeholder="name" />
					<input type="text" name="email" placeholder="email" />
					<input type="text" name="blog_url" placeholder="blog/website url" />
					<button type="submit" class="login-submit" name="submitlogin">request invite</button>
				</form>
			</div>
		</div>
	<!--</div>-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
	<script src="/static/js/core.js"></script>
</body>
</html>