<!DOCTYPE html>
<html>
<meta name="description" content="Signup for Squiiid Beta">
<meta name="keywords" content="">
<meta name="author" content="Squiiid">
<head>
  <title>Squiiid BETA | Signup</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- CSS -->
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href='/static/css/squiiid.css' rel='stylesheet' type='text/css'>
  <!-- Icons -->
  <link rel="icon" href="/static/assets/images/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" media="(resolution: 326dpi)" href="/static/assets/images/apple-touch-icon-114.png">
  <link rel="apple-touch-icon-precomposed" media="(resolution: 163dpi)" href="/static/assets/images/apple-touch-icon-57.png">
  <link rel="apple-touch-icon-precomposed" media="(resolution: 132dpi)" href="/static/assets/images/apple-touch-icon-72.png">
</head>
<body>
<div class="wilkommen-aus-squiiidlandia">
  <img class="signup-logo" src="/static/assets/images/logo-red.svg" border="0" alt="Hiii!" />
  <h1>Wilkommen aus Squiiid!</h2>
  <p>By signing up as a Beta user you are agreeing to our <a href="#" target="_blank">terms of use</a> and <a href="#" target="_blank">privacy policy</a></p>
  <form action="" method="post">
      <!--<p>
      <label for="id_username">Username</label> 
      <input class="required" id="id_username" maxlength="30" name="username" type="text" />
      </p>-->
      <input class="required" id="id_email" maxlength="75" placeholder="email" name="email" type="text" />
      <input class="required" id="id_password1" name="password1" maxlength="18" placeholder="password" type="password" />
      <input class="required" id="id_password2" name="password2" maxlength="18" placeholder="confirm password" type="password" />
      {{form.email.errors}}
      {{form.password1.errors}}
      {{form.password2.errors}}
      {{form.non_field_errors.as_text}}
      <input type="submit" value="Create Beta Account" />
  </form>
</div>
</body>
</html>
